/* $colors: ( */
/*   "blue":       #0B2447, */
/*   "indigo":     $indigo, */
/*   "purple":     $purple, */
/*   "pink":       $pink, */
/*   "red":        $red, */
/*   "orange":     $orange, */
/*   "yellow":     $yellow, */
/*   "green":      $green, */
/*   "teal":       $teal, */
/*   "cyan":       $cyan, */
/*   "white":      $white, */
/*   "gray":       $gray-600, */
/*   "gray-dark":  $gray-800 */
/* ); */
a {
    text-decoration: none;
}
a:hover {
    opacity: .7;
}
.sticky-group {
    top: 4.5em;
    z-index: -1;
}
li {
    list-style: none;
}
.cat:hover {
    opacity: .5;
}

