html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
}
a {
    text-decoration: none;
}
a:hover {
    opacity: .7;
}
.input {
    height: 1em;
}
.sticky-group {
    top: 4.5em;
    z-index: -1;
}
li {
    list-style: none;
}
.cat:hover {
    opacity: .5;
}
