<IfModule mod_rewrite.so>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
    #RewriteRule ^api/category$ /app/utilities/CategoryEndpoint.php [L]
    RewriteRule ^/?app/utilities/endpoints(/.*)?$ %{DOCUMENT_ROOT}/../app/utilities/endpoints$1 [PT,L]
    RewriteCond %{HTTP:X-Requested-With} !=XMLHttpRequest
    RewriteRule ^/?scripts/ - [F]
    #Redirect /srv/http/tuxfusion/app/utilities/CategoryEndpoint.php http://www.tuxfusiontech.com/app/utilities/CategoryEndpoint.php
</IfModule>
